<div id="top">
  <img alt="logo" src="assets/logo.svg" width="140" />
  <div id="links">
    <p class="body1 light">Home</p>
    <p class="body1">Blog</p>
    <p class="body1">About us</p>
    <p class="body1">Contact us</p>
    <p class="body1">Privacy Policy</p>
  </div>
</div>
<div id="cta">
  <h2>Subscribe to our news letter to get latest updates and news</h2>
  <div class="action">
    <input placeholder="Enter your email" />
    <button>Subscribe</button>
  </div>
</div>
<div id="info">
  <div id="contact-info">
    <p class="body1">Finstreet 118 2561 Fintown</p>
    <p class="body1">Hello@finsweet.com  020 7993 2905</p>
  </div>
  <div id="social-wrapper">
    <img alt="facebook" src="assets/facebook.svg"/>
    <img alt="twitter" src="assets/twitter.svg"/>
    <img alt="instagram" src="assets/instagram.svg"/>
    <img alt="linkedin" src="assets/linkedin.svg"/>
  </div>
</div>
