<div id="home-hero">
  <div id="hero-info">
    <p class="cap1">Posted on <b>Startup</b></p>
    <h1 class="display">Step-by-step guide to choosing great font pairs</h1>
    <p class="body1">By <span id="name">James West</span> | May 23, 2022</p>
    <p class="body1" id="info-text">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident.
    </p>
    <button>Read More ></button>
  </div>
</div>
<div id="content">
  <div id="posts">
    <div id="featured">
      <h2>Featured Post</h2>
      <div id="post-wrapper">
        <img
          alt="featured-img"
          [src]="'assets/' + featuredPost.featuredImage"
        />
        <p class="label author-date">
          By
          <span class="author">{{ featuredPost.author }}</span>
          | {{ featuredPost.date }}
        </p>
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </h3>
        <p class="body1">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
        </p>
        <button>Read More ></button>
      </div>
    </div>
    <div id="all-posts">
      <div id="title">
        <h2>All Posts</h2>
        <p class="body1" id="view-all">View All</p>
      </div>
      <div
        *ngFor="let post of posts; let i = index"
        class="post"
        [id]="i === 1 && 'new-bg'"
      >
        <p class="label author-date">
          By
          <span class="author">{{ post.author }}</span>
          | {{ post.date }}
        </p>
        <h4>{{ post.title }}</h4>
      </div>
    </div>
  </div>
  <div id="about-mission">
    <span id="yellow-pattern"></span>
    <span id="purple-pattern"></span>
    <div id="about-us">
      <p class="cap1">About us</p>
      <h2>We are a community of content writers who share their learnings</h2>
      <p class="body1 inner-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p class="read-more">Read More ></p>
    </div>
    <div id="our-mission">
      <p class="cap1">Our mision</p>
      <h3>Creating valuable content for creatives all around the world</h3>
      <p class="body1 inner-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
  <div id="choose-category">
    <h2>Choose a Category</h2>
    <div id="categories">
      <div
        class="category"
        *ngFor="let cat of categories"
        [id]="cat.featured && 'feat-cat'"
      >
        <div class="icon">
          <img
            alt="icon"
            [src]="'assets/' + cat.icon"
            [id]="cat.featured && 'feat'"
          />
        </div>
        <h3>{{ cat.title }}</h3>
        <p class="body1">{{ cat.text }}</p>
      </div>
    </div>
  </div>
  <div id="special-post">
    <img alt="post" src="assets/special-post.svg" />
    <div id="post-content">
      <p class="cap1">Why we started</p>
      <h1>It started out as a simple idea and evolved into our passion</h1>
      <p class="body1" class="inner-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      </p>
      <button>Discover our story ></button>
    </div>
  </div>
  <div id="authors-list">
    <h2>List of Authors</h2>
    <div id="authors">
      <div *ngFor="let author of authors" class="author" [id]="author.featured && 'author-feat'">
        <img alt="pic" [src]="'assets/' + author.picture" />
        <h3>{{ author.name }}</h3>
        <p class="body2">{{ author.position }}</p>
        <div class="social-wrapper">
          <img alt="facebook" src="assets/facebook.svg" />
          <img alt="twitter" src="assets/twitter.svg" />
          <img alt="instagram" src="assets/instagram.svg" />
          <img alt="linkedin" src="assets/linkedin.svg" />
        </div>
      </div>
    </div>
  </div>
  <img id="logo-component" src="assets/logos.svg"/>
</div>
