:host {
  display: flex;
  flex-direction: column;
  #home-hero {
    background-image: url("../../../assets/hero-bg.svg");
    height: 720px;
    color: #ffffff;
    #hero-info {
      padding: 105px 60px;
      h1 {
        max-width: 850px;
      }
      #name {
        color: #ffd050;
      }
      #info-text {
        max-width: 600px;
      }
      button {
        background-color: #ffd050;
      }
    }
  }
  #content {
    padding: 60px;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-gap: 100px;
    #posts {
      margin: 60px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      h2,
      h3,
      h4 {
        color: #232536;
      }
      .author-date {
        color: #4c4c4c;
        .author {
          color: #592ea9;
        }
      }
      #featured {
        #post-wrapper {
          width: fit-content;
          border: 1px solid rgba(109, 110, 118, 0.1);
          padding: 20px;
        }
        h3 {
          max-width: 700px;
        }
        p {
          color: #6d6e76;
          max-width: 580px;
        }
        button {
          background: #ffd050;
        }
      }
      #all-posts {
        #title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          #view-all {
            color: #592ea9;
          }
        }
        h4 {
          max-width: 350px;
        }
        #new-bg {
          background: #fbf6ea;
        }
        .post {
          padding: 10px 20px;
          width: 500px;
        }
      }
    }
    #about-mission {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #f4f0f8;
      position: relative;
      padding: 60px;
      #yellow-pattern {
        position: absolute;
        background: #ffd050;
        height: 23px;
        width: 60%;
        top: -23px;
        right: 20%;
      }
      #purple-pattern {
        position: absolute;
        background: #592ea9;
        height: 23px;
        width: 20%;
        top: -23px;
        right: 0;
      }
      p,
      h2,
      h3 {
        color: #232536;
      }
      .inner-text {
        color: #6d6e76;
        max-width: 500px;
      }
      h2 {
        max-width: 550px;
      }
      h3 {
        max-width: 500px;
      }
      .read-more {
        font-family: "Sen", sans-serif;
        font-style: normal;
        font-size: 18px;
        line-height: 32px;
        font-weight: bold;
        color: #592ea9;
      }
    }
    #choose-category {
      h2 {
        text-align: center;
      }
      #feat-cat {
        background: #ffd050;
      }
      #categories {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .category {
          border: 1px solid rgba(109, 110, 118, 0.1);
          width: fit-content;
          padding: 20px;
          h3 {
            color: #232536;
          }
          p {
            color: #6d6e76;
            max-width: 300px;
          }
          .icon {
            background-color: #fbf6ea;
            border-radius: 10px;
            width: 48px;
            height: 48px;
            position: relative;
            #feat {
              position: absolute;
              top: 13px;
              left: 13px;
            }
          }
        }
      }
    }
    #special-post {
      position: relative;
      #post-content {
        position: absolute;
        right: 370px;
        bottom: 0;
        background: #ffffff;
        padding: 60px;
        height: 470px;
        h1 {
          max-width: 600px;
        }
        p,
        h1 {
          color: #232536;
        }
        .inner-text {
          max-width: 600px;
          color: #6d6e76;
        }
        button {
          background: #ffd050;
          width: 269px;
        }
      }
    }
    #authors-list {
      text-align: center;
      #authors {
        .author {
          background: #f4f4f4;
          padding: 40px;
        }
        #author-feat {
          background: #fbf6ea;
        }
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      h3 {
        color: #232536;
      }
      p {
        color: #6d6e76;
      }
      .social-wrapper {
        display: flex;
        justify-content: space-evenly;
      }
    }
    #logo-component {
      margin: auto;
    }
    #testimonials {
      min-height: 344px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background: #fbf6ea;
      padding: 60px;
      #heading {
        h2 {
          max-width: 400px;
        }
        p {
          max-width: 350px;
        }
        p,
        h2 {
          color: #232536;
        }
      }
      #divider {
        border-left: 1px solid rgba(109, 110, 118, 0.4);
        height: 310px;
      }
      #messages {
        h4 {
          max-width: 380px;
        }
      }
      #profile {
        display: flex;
        #info {
          display: flex;
          flex-direction: column;
          margin: 0 20px;
        }
        h4 {
          margin: 0;
        }
        p {
          color: #6d6e76;
        }
        .back-button{
          margin: 0 30px 0 80px;
        }
      }
    }
  }
}
