.display {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  font-weight: bold;
}

h1 {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 64px;
  font-weight: bold;
}

h2 {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
}

h3 {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

h4 {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

h5 {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
}

h6 {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.label {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.body1 {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.body2 {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.dark-grey {
  background-color: #4c4c4c;
}

.yellow {
  background-color: #ffd050;
}

.black {
  background: #232536;
}

.lavender {
  background-color: #f4f0f8;
}

.light-grey {
  background-color: #f4f4f4;
}

.light-yellow {
  background-color: #fbf6ea;
}

.purple {
  background-color: #592ea9;
}

.medium-grey {
  background-color: #6d6e76;
}
